head {
    display: none;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
user agent stylesheet
script {
    display: none;
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

user agent stylesheet
script {
    display: none;
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

user agent stylesheet
link {
    display: none;
}


body 
{
    background-image: url('fon.jpg');
    font-family: 'Shizuru', sans-serif;
    @font-face {
        font-family: Roboto;
         src: url("assets/fonts/Shizuru.ttf");
       }
       body {
        background-image: url(../img/background.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: flex;
        width: 100%;
        height: 100%;
        min-height: 500px;
        align-items: center;
    }
    
    * {
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }
    user agent stylesheet
    body {
        display: block;
        margin: 8px;
    }
    body .container {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        background-color: white;
        width: 500px;
        height: 95%;
        border-radius: 10px;
        box-shadow: 0 0 0 8px rgb(255 255 255 / 20%);
    }
    * {
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }
    user agent stylesheet
    div {
        display: block;
    }
    header {
        height: 50px;
        min-height: 50px;
        width: 100%;
    }
    
    * {
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }
    user agent stylesheet
    header {
        display: block;
    }
    header .header__menu {
        width: 100%;
        height: 100%;
    }
    * {
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }
    user agent stylesheet
    nav {
        display: block;
    }
    header .header__menu .menu__button {
        height: 100%;
        width: 100%;
        display: flex;
        list-style-type: none;
    }
    
    * {
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }
    user agent stylesheet
    ul {
        display: block;
        list-style-type: disc;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 40px;
    }
    header .header__menu .menu__button li {
        width: 20%;
    }
    * {
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }
    user agent stylesheet
    li {
        display: list-item;
        text-align: -webkit-match-parent;
    }
    header .header__menu .menu__button {
        height: 100%;
        width: 100%;
        display: flex;
        list-style-type: none;
    }
    user agent stylesheet
    ul {
        list-style-type: disc;
    }
    header .header__menu .menu__button li .button__about {
        border-top-left-radius: 10px;
    }
    
    header .header__menu .menu__button li button {
        height: 100%;
        width: 100%;
        border: none;
        background-color: rgba(228, 226, 226, 0.295);
        font-family: "Jost", sans-serif;
        font-size: 15px;
        font-weight: 400;
        opacity: 0.7;
    }
    * {
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }
    user agent stylesheet
    button {
        appearance: auto;
        -webkit-writing-mode: horizontal-tb !important;
        font-style: ;
        font-variant-ligatures: ;
        font-variant-caps: ;
        font-variant-numeric: ;
        font-variant-east-asian: ;
        font-weight: ;
        font-stretch: ;
        font-size: ;
        font-family: ;
        text-rendering: auto;
        color: -internal-light-dark(black, white);
        letter-spacing: normal;
        word-spacing: normal;
        line-height: normal;
        text-transform: none;
        text-indent: 0px;
        text-shadow: none;
        display: inline-block;
        text-align: center;
        align-items: flex-start;
        cursor: default;
        box-sizing: border-box;
        background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
        margin: 0em;
        padding: 1px 6px;
        border-width: 2px;
        border-style: outset;
        border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
        border-image: initial;
    }
    user agent stylesheet
    li {
        text-align: -webkit-match-parent;
    }
    header .header__menu .menu__button {
        height: 100%;
        width: 100%;
        display: flex;
        list-style-type: none;
    }
    user agent stylesheet
    ul {
        list-style-type: disc;
    }
    header .header__menu .menu__button li {
        width: 20%;
    }
    * {
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }
    user agent stylesheet
    li {
        display: list-item;
        text-align: -webkit-match-parent;
    }
    header .header__menu .menu__button {
        height: 100%;
        width: 100%;
        display: flex;
        list-style-type: none;
    }
    user agent stylesheet
    ul {
        list-style-type: disc;
    }
    header .header__menu .menu__button li button {
        height: 100%;
        width: 100%;
        border: none;
        background-color: rgba(228, 226, 226, 0.295);
        font-family: "Jost", sans-serif;
        font-size: 15px;
        font-weight: 400;
        opacity: 0.7;
    }
    * {
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }
    user agent stylesheet
    button {
        appearance: auto;
        -webkit-writing-mode: horizontal-tb !important;
        font-style: ;
        font-variant-ligatures: ;
        font-variant-caps: ;
        font-variant-numeric: ;
        font-variant-east-asian: ;
        font-weight: ;
        font-stretch: ;
        font-size: ;
        font-family: ;
        text-rendering: auto;
        color: -internal-light-dark(black, white);
        letter-spacing: normal;
        word-spacing: normal;
        line-height: normal;
        text-transform: none;
        text-indent: 0px;
        text-shadow: none;
        display: inline-block;
        text-align: center;
        align-items: flex-start;
        cursor: default;
        box-sizing: border-box;
        background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
        margin: 0em;
        padding: 1px 6px;
        border-width: 2px;
        border-style: outset;
        border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
        border-image: initial;
    }
    user agent stylesheet
    li {
        text-align: -webkit-match-parent;
    }
    header .header__menu .menu__button {
        height: 100%;
        width: 100%;
        display: flex;
        list-style-type: none;
    }
    user agent stylesheet
    ul {
        list-style-type: disc;
    }
    header .header__menu .menu__button li button {
        height: 100%;
        width: 100%;
        border: none;
        background-color: rgba(228, 226, 226, 0.295);
        font-family: "Jost", sans-serif;
        font-size: 15px;
        font-weight: 400;
        opacity: 0.7;
    }
    * {
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }
    user agent stylesheet
    button {
        appearance: auto;
        -webkit-writing-mode: horizontal-tb !important;
        font-style: ;
        font-variant-ligatures: ;
        font-variant-caps: ;
        font-variant-numeric: ;
        font-variant-east-asian: ;
        font-weight: ;
        font-stretch: ;
        font-size: ;
        font-family: ;
        text-rendering: auto;
        color: -internal-light-dark(black, white);
        letter-spacing: normal;
        word-spacing: normal;
        line-height: normal;
        text-transform: none;
        text-indent: 0px;
        text-shadow: none;
        display: inline-block;
        text-align: center;
        align-items: flex-start;
        cursor: default;
        box-sizing: border-box;
        background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
        margin: 0em;
        padding: 1px 6px;
        border-width: 2px;
        border-style: outset;
        border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
        border-image: initial;
    }
    user agent stylesheet
    li {
        text-align: -webkit-match-parent;
    }
    header .header__menu .menu__button {
        height: 100%;
        width: 100%;
        display: flex;
        list-style-type: none;
    }
    user agent stylesheet
    ul {
        list-style-type: disc;
    }
    header .header__menu .menu__button li button {
        height: 100%;
        width: 100%;
        border: none;
        background-color: rgba(228, 226, 226, 0.295);
        font-family: "Jost", sans-serif;
        font-size: 15px;
        font-weight: 400;
        opacity: 0.7;
    }
    
    * {
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }
    user agent stylesheet
    button {
        appearance: auto;
        -webkit-writing-mode: horizontal-tb !important;
        font-style: ;
        font-variant-ligatures: ;
        font-variant-caps: ;
        font-variant-numeric: ;
        font-variant-east-asian: ;
        font-weight: ;
        font-stretch: ;
        font-size: ;
        font-family: ;
        text-rendering: auto;
        color: -internal-light-dark(black, white);
        letter-spacing: normal;
        word-spacing: normal;
        line-height: normal;
        text-transform: none;
        text-indent: 0px;
        text-shadow: none;
        display: inline-block;
        text-align: center;
        align-items: flex-start;
        cursor: default;
        box-sizing: border-box;
        background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
        margin: 0em;
        padding: 1px 6px;
        border-width: 2px;
        border-style: outset;
        border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
        border-image: initial;
    }
    user agent stylesheet
    li {
        text-align: -webkit-match-parent;
    }
    header .header__menu .menu__button {
        height: 100%;
        width: 100%;
        display: flex;
        list-style-type: none;
    }
    user agent stylesheet
    ul {
        list-style-type: disc;
    }
    header .header__menu .menu__button li .button__contacts {
        border-top-right-radius: 10px;
    }
    header .header__menu .menu__button li button {
        height: 100%;
        width: 100%;
        border: none;
        background-color: rgba(228, 226, 226, 0.295);
        font-family: "Jost", sans-serif;
        font-size: 15px;
        font-weight: 400;
        opacity: 0.7;
    }
    * {
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }
    user agent stylesheet
    button {
        appearance: auto;
        -webkit-writing-mode: horizontal-tb !important;
        font-style: ;
        font-variant-ligatures: ;
        font-variant-caps: ;
        font-variant-numeric: ;
        font-variant-east-asian: ;
        font-weight: ;
        font-stretch: ;
        font-size: ;
        font-family: ;
        text-rendering: auto;
        color: -internal-light-dark(black, white);
        letter-spacing: normal;
        word-spacing: normal;
        line-height: normal;
        text-transform: none;
        text-indent: 0px;
        text-shadow: none;
        display: inline-block;
        text-align: center;
        align-items: flex-start;
        cursor: default;
        box-sizing: border-box;
        background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
        margin: 0em;
        padding: 1px 6px;
        border-width: 2px;
        border-style: outset;
        border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
        border-image: initial;
    }
    user agent stylesheet
    li {
        text-align: -webkit-match-parent;
    }
    header .header__menu .menu__button {
        height: 100%;
        width: 100%;
        display: flex;
        list-style-type: none;
    }
    user agent stylesheet
    ul {
        list-style-type: disc;
    }
    
header .header__menu .menu__button {
    height: 100%;
    width: 100%;
    display: flex;
    list-style-type: none;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
user agent stylesheet
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
header .header__menu {
    width: 100%;
    height: 100%;
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
user agent stylesheet
nav {
    display: block;
}
main {
    width: 100%;
    flex-grow: 1;
    overflow: auto;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
user agent stylesheet
main {
    display: block;
}
main .about {
    display: flex;
    margin-top: 35px;
    row-gap: 25px;
}

main .section__container {
    flex-direction: column;
    align-items: center;
    width: 100%;
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
user agent stylesheet
section {
    display: block;
}
main .about h1 {
    font-family: "Jost", sans-serif;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 1px;
    opacity: 0.8;
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
user agent stylesheet
:-webkit-any(article, aside, nav, section) h1 {
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
}
user agent stylesheet
h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
main .about img {
    margin-top: 20px;
    height: 155px;
    width: 155px;
    border-radius: 50%;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
     
}     